<div class="px-56 py-48 bg-black mx-auto">
  <div class="flex items-center">
    <div class="text-white">
      <h1 class="text-5xl font-bold">Disfruta en tu tele</h1>
      <p class="mt-5">Smart TV, Playstation, Xbox, Chromecast, Apple TV, reproductores Blu-ray y muchos más.</p>
    </div>
    <img src="tv.png" alt="tv" width="600px">
  </div>

  <div class="flex items-center justify-center">
    <img src="device-pile.png" alt="device pile" width="600px">
    <div class="text-white">
      <h1 class="text-5xl font-bold ml-2">Usa cualquier dispositivo</h1>
      <p class="mt-5">Ve en streaming todas las películas y series en tu móvil, tableta, ordenador y televisor.</p>
    </div>
  </div>

  <div class="flex items-center justify-center">
    <div class="text-white">
      <h1 class="text-5xl font-bold ml-2">Crea perfiles infantiles</h1>
      <p class="mt-5">Deja que los niños vivan aventuras con sus personajes favoritos en un espacio diseñado exclusivamente para ellos, gratis con tu suscripción.</p>
    </div>
    <img src="infantil.png" alt="infantil" width="600px">
  </div>

  <div class="flex items-center justify-center">
    <img src="mobile-0819.jpg" alt="infantil" width="600px">
    <div class="text-white">
      <h1 class="text-5xl font-bold ml-2">Descárgate tus favoritas para verlas sin conexión</h1>
      <p class="mt-5">Disfruta de Netflix en tierra, mar y aire…</p>
    </div>
  </div>
</div>
